@import "tailwindcss";

:root {
  /* Primary colors */
  --color-primary: #0d9488;
  /* Teal 600 */
  --color-primary-light: #ccfbf1;
  /* Teal 100 */
  --color-primary-dark: #0f766e;
  /* Teal 700 */
  --color-secondary: #16A34A;

  /* Backgrounds */
  --color-bg-main: #F0FDFA;
  /* Very light teal background */
  --color-bg-card: #FFFFFF;

  /* Borders */
  --color-border: #E5E7EB;

  /* Text */
  --color-text-main: #111827;
  --color-text-muted: #6B7280;

  /* Status colors */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #3B82F6;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: "Cairo", sans-serif;
}



@keyframes dash {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash {
  animation: dash 1.4s linear infinite;
}